.users-page {
    padding: 12px;
    
}
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.button-row {
    padding: 12px;
    padding-right: 0;
}

.button-row button,
.button-row a {
    margin-right: 8px;
}
